[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
commitizen = "==1.23.0"
add-trailing-comma= "==1.5.0"
expects= "==0.9.0"
isort= "==4.3.21"
mamba= "==0.10"
mypy= "==0.740"
pre-commit= "==1.20.0"
pyformat = "==0.7"
wemake-python-styleguide= "==0.13.3"

[packages]

[requires]
python_version = "3.7"
